@import url('https://fonts.googleapis.com/css2?family=Fredoka&display=swap');

.contenedor {
    font-family: 'Fredoka', sans-serif;
}
button {
    border: none !important;
}
.seleccionado {
    background: #ECE016;
}

.text-warning {
    color: #ECE016 !important;
}

.tarjeta {
    background: #fff;
    width: 340px;
    padding: 8px;
    border-radius: .5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.tarjeta {
    transition: .3s;
}
.tarjeta:hover {
    cursor: pointer;
}
.tarjeta img {
    border-radius: 15px;
    width: 8rem;
    transition: .3s;
}

.tarjeta img:hover {
    width: 9rem;
}

.tarjeta-cuerpo {
    flex-grow: 1;
}

.tarjeta-titulo {
    word-break:break-all;
}