<div class="contenedor">
    <div class="row">
        <div class="col-12 mt-5 mb-3">
            <header>
                <div class="title text-center">
                    <h1 class="text-white">TheGymVerse</h1>
                    <p class="text-warning">Listado de musculos</p>
                </div>
            </header>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="botones mb-5 d-flex justify-content-evenly align-items-center">
                <div class="text-white">Seleccione la zona</div>
                <button class="btn btn-light fw-bold" (click)="listarEjerciciosTorso()" [ngClass]="filtroCategoria == 'torso' ? 'seleccionado' : ''">TORSO</button>
                <button class="btn btn-light fw-bold" (click)="listarEjerciciosPierna()" [ngClass]="filtroCategoria == 'pierna' ? 'seleccionado' : ''">PIERNA</button>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="main d-flex flex-column flex-md-row align-items-center">
                <!-- * Pintamos las cards de los ejercicios condicionando si hay filtro o no -->
                <ng-container *ngIf="listaFiltrada; else listaCompleta">
                    <div class="card m-3" style="width: 18rem;" *ngFor="let ejercicio of listaFiltrada">
                        <img class="card-img-top" src="assets/img/{{ejercicio.imagen}}" alt="Title">
                        <div class="card-body">
                            <h4 class="card-title">{{ ejercicio.nombre }}</h4>
                        </div>
                    </div>
                </ng-container>
                
                <ng-template #listaCompleta>
                    <div class="card" *ngFor="let ejercicio of listaEjercicios">
                        <img class="card-img-top" src="assets/img/{{ejercicio.imagen}}" alt="{{ ejercicio.nombre }}">
                        <div class="card-body">
                            <h4 class="card-title">{{ ejercicio.nombre }}</h4>
                        </div>
                    </div>
                </ng-template>
                
            </div>
        </div>
    </div>
</div>
