button {
    border: none !important;
}
.seleccionado {
    background: #ECE016;
}

.text-warning {
    color: #ECE016 !important;
}

.tarjeta {
    background: #fff;
    width: 340px;
    padding: 8px;
    border-radius: .5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.tarjeta {
    transition: .3s;
}

.tarjeta:hover {
    box-shadow: 0 0 2px #ECE016,
    0 0 10px #ECE016,
    0 0 15px #ECE016,
    0 0 20px #ECE016;
}

.tarjeta img {
    width: 8rem;
    transition: .3s;
}

.tarjeta img:hover {
    width: 9rem;
}

.tarjeta-cuerpo {
    flex-grow: 1;
}

.tarjeta-titulo {
    word-break:break-all;
}