<div class="contenedor">
    <div class="row mt-5 mb-3">
        <div class="col-12">
            <header>
                <div class="title text-center">
                    <h1 class="text-white fw-bold">TheGymVerse</h1>
                    <p class="text-warning">Listado de musculos</p>
                </div>
            </header>
        </div>
    </div>
    <div class="row">
        <div class="col-12 mb-3">
            <h3 class="fw-bold text-white mx-4">Ejemplo</h3>
            <hr class="text-white">
            <div class="video d-flex flex-column flex-md-row align-items-center justify-content-md-center">
                <iframe src="https://player.vimeo.com/video/833374974" id="videoEjercicio" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <h3 class="fw-bold text-white mx-4">Informacion</h3>
            <hr class="text-white">
        </div>
        <div class="col-12 d-flex flex-column flex-md-row align-items-center justify-content-md-center">
            <!-- TODO: hay que disenyar la vista de este componente -->
            <div class="card">
                <img class="card-img-top p-2" src="assets/img/{{ejercicioSeleccionado?.imagen}}"
                    [alt]="ejercicioSeleccionado?.nombre">
                <div class="card-body">
                    <h4 class="card-title fw-bold">{{ ejercicioSeleccionado?.nombre }}</h4>
                    <p class="card-text">{{ ejercicioSeleccionado?.series }} series x {{ ejercicioSeleccionado?.repeticiones }} reps</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-12">
            <h3 class="fw-bold text-white mx-4">Descripcion</h3>
            <hr class="text-white">
        </div>
        <div class="col-12">
            {{ ejercicioSeleccionado?.descripcion }}
        </div>
    </div>
</div>